/* CSS Document */

body{
	background-color: #ffffff;
	}
h1{
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#contact{
	overflow: auto;
}

#contact #form{
	padding-top: 25px;
	width: 410px;
	float: none;
}
#contact #form h2{
	font: 48px, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#contact #form span{
	display: block;
	float: left;
	width: 100px;
	padding-top: 5px;
	font: 14px/16px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#contact #form input{
	float:left;
	width: 255px;
	border: 0px;
	color:#6B6B6B;
	padding: 10px 10px 10px 30px;
	font: 11px/20px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#contact #form input.submit{
	padding: 0px;
	width: 395px;
}
.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
.buttons{
	padding-top: 25px;
	display: table;
	margin: auto;
}
.facebook{
	border-width: 0px;
	background-color: #3b5998;
	color: white;
	margin: auto;
}
.youtube{
	border-width: 0px;
	background-color: #cc0000;
	color: white;
	margin: auto;
}
.youtube:hover{
	border-width: 0px;
}
.facebook:hover{
	border-width: 0px;
}
a{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: black;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-color: #E1E1E1;
	background-color: #FFFFFF;
	padding: 15px;
}
a:hover{
	color: black;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-color: #BCBCBC;
	background-color: #FFFFFF;
	padding: 15px;
}
.footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #363636;
	color: white;
	width: 100%;
	text-align: center;
}
.body{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	height: auto;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	border-style: solid;
	border-width: 1px;
	border-color: #E1E1E1;
}
.headimg{
	border-style: solid;
	border-width: 1px;
	clip: rect(0px, 60px 200px, 0px);
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	height: 160px;
	overflow: hidden;
}